@font-face {
    font-family: "Unbounded";
    src: url("/fonts/Unbounded-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Unbounded";
    src: url("/fonts/Unbounded-Black.ttf");
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.moon-path {
    position: relative;
    width: 660px;
    height: 660px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    position: relative;
    z-index: 1000;
    color: #e0e0e0;
}

@keyframes shimmer { to { background-position: 100% } }

@media (forced-colors: active) {
    p {
        background: #212121;
        color: aquamarine
    }
}

h1 {
    margin-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Unbounded", sans-serif;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: 4px;

    place-self: center;
	background: linear-gradient(90deg, #a09d9d, #ffffff, #a09d9d) -100%/ 200%;
	-webkit-background-clip: text;
	        background-clip: text;
	color: transparent;
	animation: shimmer 2s linear infinite;

    filter:
        drop-shadow(1px 0 0 black)
        drop-shadow(-1px 0 0 black)
        drop-shadow(0 1px 0 black)
        drop-shadow(0 -1px 0 black);
}

h2 {
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 4px;
    line-height: 80px;
    animation: breathe 4s ease-in-out infinite;

    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000,
         0px  0px 10px rgba(0,0,0,0.8);
}

@keyframes floating {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}

/* !MOON */
.moon-wrapper {
    position: absolute;
    left: -132px;
    top: -132px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.moon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: -2;
    box-shadow:
        inset -15px -15px 0px #d2d3d5,
        0 0 18px rgba(255,255,255,.25),
        0 0 40px rgba(255,255,255,.08);
}

.moon-crater {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #d2d3d5;
}

.moon-crater:nth-child(1) {
    bottom: 10px;
    right: 56px;
    width: 30px;
    height: 30px;
    box-shadow: inset 2px 4px 0px 0px #bebfc1;
    border: 2px solid white;
}

.moon-crater:nth-child(6) {
    top: 47px;
    right: 26px;
    width: 18px;
    height: 18px;
    box-shadow: inset 1px 1px 0px 0px #bebfc1;
    border: 1px solid white;
}

.moon-crater:nth-child(7) {
    top: 20px;
    left: 51px;
    width: 18px;
    height: 18px;
    box-shadow: inset 1px 1px 0px 0px #bebfc1;
    border: 1px solid white;
}

.moon-crater:nth-child(8) {
    top: 32px;
    left: 18px;
    width: 9px;
    height: 9px;
    box-shadow: inset 1px 1px 0px 0px #bebfc1;
    border: 1px solid white;
}

.moon-crater:nth-child(9) {
    top: 65px;
    left: 65px;
    width: 11px;
    height: 11px;
    box-shadow: inset 1px 1px 0px 0px #bebfc1;
    border: 1px solid white;
}

.moon-crater:nth-child(10) {
    top: 50px;
    left: 35px;
    width: 12px;
    height: 12px;
    box-shadow: inset 1px 1px 0px 0px #bebfc1;
    border: 1px solid white;
}

.moon-crater:nth-child(13) {
    top: 100px;
    left: 26px;
    width: 4px;
    height: 4px;
    box-shadow: inset 1px 1px 0px 0px #bebfc1;
    border: 1px solid white;
}

/*! STARS */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slide-transparency {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animate-opacity {
    animation-name: slide-transparency;
    animation-iteration-count: infinite;
}

.freq-5 {
    animation-duration: 5s;
}

.freq-6 {
    animation-duration: 3.33s;
}

.freq-7 {
    animation-duration: 4s;
}

.freq-8 {
    animation-duration: 4.88s;
}

.freq-9 {
    animation-duration: 5s;
}

.freq-10 {
    animation-duration: 5.17s;
}

.delay-2 {
    animation-delay: 1.33s;
}

.delay-4 {
    animation-delay: 1.11s;
}

.bg {
    width: 930px;
    height: 930px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: radial-gradient(
        circle at center,
            black 0%,
            black 70%,
            rgba(0, 0, 0, 1) 61%,
            rgba(0, 0, 0, 0.5) 100%
    );
    overflow: hidden;
}

.z-1,
.z-2,
.z-3 {
    position: absolute;
    width: 150vw;
    height: 150vw;
    left: -50vw;
    top: -50vw;
    transform-origin: center;
}

.tile {
    overflow: hidden;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: 512px 512px;
}

.top-left {
    background-image: url("./img/topleft.png");
}

.top-right {
    background-image: url("./img/topright.png");
}

.bottom-left {
    background-image: url("./img/bottomleft.png");
}
